header {
	padding: 10px;
	background: #444;
	margin: 10px;
}

/* Different colors */
header.blue { background: #8fb7d7; }
header.green { background: #8BD540; }
header.red { background: #D5405E; }
header.purple { background: #C140D5; }
header.dblue { background: #4058D5; }
header.orange { background: #D56640; }

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header ul li {
	float: left;
	margin-right: 10px;
}

header ul a {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	line-height: 18px;
	text-decoration: none;
	border-radius: 20px;
	display: block;
}

header ul a:hover {
	background: rgba(0,0,0,0.2);
}
header ul a:active, ul a.active {
	background: rgba(0,0,0,0.3);
}